{% include 'user_greeting.html' %}
{% block content %}
<form method="post" action="edit/">
    {% csrf_token %}
<p> Group [<b>{{ group.non_blank_name }}</b>]
<block name="rename_form"><input type="text" name="group_name" value='{{ group.name }}'/>
<input type="submit" value="Rename"/></block>
</p></form>
<p>Members: 
{% for u in group.members.all %}
	<a href="/user/{{ user.pk }}/user/{{ u.pk }}/">{{ u.name }}</a>, {% endfor %}</p>
{% if related_groups.count > 0 %}
    <p>Related Groups:
        {% for g in related_groups %}<a href="/user/{{ user.pk }}/group/{{ g.pk }}/">{{ g.non_blank_name }}</a>, {% endfor %}</p>
{% endif %}
<hr>
{% if group.threads.count == 0 %}
This group has no active threads
{% endif %}
{% for thread in group.threads %}
{% include 'thread_snippet.html' %}
{% endfor %}
{% endblock %}